.dropdown{
    height: auto;
    width: 100px;
    margin: 0px;
    display: inline-block;
    position: relative;
    .hoverButton{
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        outline: none;
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
        }
    }
    .contentBox{
        height:200px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        z-index: 1;
        position: absolute;
        box-sizing: border-box;
        scroll-behavior: auto;
        overflow: scroll;
        background-color: #C6CF9B;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        .language{
            cursor: pointer;
            color: black;
            text-decoration: none;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background-color: #F6ECA9;
            border-radius: 10px;
            margin-top: 10px;
            height: 50px;
            font-size: medium;
            font-weight: 600;
        }:active{
            background-color: #f4d407;
        }:hover{
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }
    }::-webkit-scrollbar {
                display: none;
            }
}