.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        font-size: 34px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
        color: #163020;
        @media screen and (max-width: 720px) {
            width: 300px;
            font-size: 28px;
        }
    }
    .parag{
        color: #304D30;
        margin-bottom: 20px;
        font-weight: 500;
        width: 100%;
        box-sizing: border-box;
        @media screen and (max-width:720px) {
            font-size: small;
            width: 300px;
        }
    }
    .line{
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 50px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        @media screen and (max-width:720px) {
            width: 300px;
            height: 40px;
        }
        .container{
            box-sizing: border-box;
            width: 100%;
            background-color: #EAECCC;
            height: 100%;
            border: 1px solid;
            border-color: black;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            overflow: hidden;
            input {
                padding: 5px;
                box-sizing: border-box;
                background-color: transparent;
                font-size: large;
                height: 100%;
                width: 100%;
                border: none;
                outline: none;
                border-color: transparent;
                @media screen and (max-width:720px) {
                    font-size: medium;
                }
                }
            button{
                border: 0px solid;
                margin: 0px;
                img{
                    margin: 0px;
                    height: 35px;
                    width: 35px;
                    cursor: pointer;
                    @media screen and (max-width:720px) {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
        button{
            height: 100%;
            border: 0px solid;
            background-color: transparent;
            img{
                height: 30px;
                width: 30px;
                margin-left: 5px;
                cursor: pointer;
                @media screen and (max-width:720px) {
                        height: 25px;
                        width: 25px;
                }
            }
        }
    }

}
